<h1><%= question_header(@question)%></h1>
<%= render 'shared/errors',resource: @question%>
<%= render 'form' %>

<p><%= link_to 'Back', test_path(@question.test)%></p>

<p><%= link_to 'Home', tests_path%></p>
