<%= form_with url: sessions_path, local: true do |form| %>
  <%= render 'shared/flash'%>
  <p>
    <%= form.label :email %><br>
    <%= form.email_field :email, placeholder: :email%>
  </p>

  <p>
    <%= form.label :password %><br>
    <%= form.password_field :password, placeholder: :password %>
  </p>

  <p><%= form.submit 'Click' %></p>
<%end%>
