<table class="table">
  <tr>
    <th><%= t('badges.badge.name')%></th>
    <th><%= t('badges.badge.rule')%></th>
    <th><%= t('badges.badge.rule_criton')%></th>
    <th><%= t('badges.badge.description')%></th>
    <th><%= t('badges.badge.picture')%></th>
    <th colspan="2" > <%= t('.action')%></th>
  </tr>

  <%= render @badges%>
</table>
