<table class="table">
  <tr>
    <th><%= t('badges.badge.name')%></th>
    <th><%= t('badges.badge.rule')%></th>
    <th><%= t('badges.badge.rule_criterion')%></th>
    <th><%= t('badges.badge.picture')%></th>
    <th colspan="3" > <%= t('.action')%></th>
  </tr>

  <%= render @badges%>
</table>
