<h1><%= question_header(@question)%></h1>
<%= render 'shared/errors', resource: @question%>

<%= form_with model: [:admin, @test, @question] do |form| %>
<p>
<%= form.label :body %><br>
<%= form.text_field :body %>
</p>
<p><%= form.submit %></p>
<%end%>

<p><%= link_to 'Back', admin_test_path(@question.test)%></p>
