<tr>
  <td class="align-middle">
    <%= test.title%>
    <%= render 'form_inline', test: test == @test? @test : test %>
  </td>
  <td class="align-middle"><%= test.questions.count%></td>
  <td class="align-middle"><%= link_to t('nav.show'), admin_test_path(test)%></td>
  <td class="align-middle"><%= link_to t('nav.edit'), edit_admin_test_path(test)%></td>
  <td class="align-middle"><%= link_to t('nav.delete'), admin_test_path(test),
                            method: :delete,
                            data: {confirm: t('delete.message')}%></td>
</tr>
