<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in?%>
      <p>
      <%= project_link%>
      </p>

      <p>
        Welcom, <%= current_user.name.capitalize%> Guru. (<%= link_to 'Go out', logout_path, method: :delete%>)
      </p>
    <%else%>
      <p><%= link_to 'Log in', login_path %> || <%= link_to 'Sig nup', signup_path %></p>
    <%end%>
  </body>

  <body>
    <%= yield %>
    <%= render 'shared/footer'%>
  </body>
</html>
